<head>
  <style type="text/css">
  
    img { border-style: dotted; }
	
	p.description { color: red; }

	p {	padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 50px;
		padding-right: 50px;}
	
	body {background-color: #8CE6Eb;}
	
  </style>
</head>

<h1>Kristine Rooks</h1>

<p>
  Atlanta computer science teacher, knitter, swimmer, and horror enthusiast.
</p>

<p> <i>
  The looked for that cometh unawares, the longed for that cometh beyond hope.
</i> </p>

<p>
  <img src="http://millardhawkpta.com/files/2013/08/Welcome_Friends.jpg"> 
</p>

<p class = "description">
  <b>This is a perfect picture</b> 
</p>  